<% include partials/header.ejs %>
    <div class="table-wrapper">
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Category</th>
						<th scope="col">Parent</th>
                        <th scope="col">Action</th>
						 <th><a href="/addCategory" rel="noopener" class="btn btn-sm btn-success">Add category</a></th>
                    </tr>
                </thead>
                <tbody>
                    <% category.forEach((player, index) => { %>
                        <tr>
                            <th scope="row"><%= player.name %></th>
							<% if( player.top != 'null'){ %>
							
							<th scope="row"><%= player.top %></th>
                           <% } else { %>
                         <th scope="row"></th>
						 <% } %>
                            <td>
                                <a href="/write/<%= player.name %>"rel="noopener" class="btn btn-sm btn-success">Select</a>
                               
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

    </div>
</div>
</body>
</html>