
<% include partials/header.ejs %>
    <div class="container">
        <form class="signUp" action="write" method="post" >

				<div class="form-row">
				<div class="form-group col-md-4">
                    <input type="number" class="form-control" name="duration" id="duration" placeholder="Duration in hours" required>
                </div> </div>
				<div class="form-row">
				<div class="form-group col-md-4">
                    <input type="number" class="form-control" name="lon" id="lon" placeholder="Longitude" required>
                </div> </div>
				<div class="form-row">
				<div class="form-group col-md-4">
                    <input type="number" class="form-control" name="lat" id="lat" placeholder="Latitude" required>
                </div> </div>
				<div class="form-row">
                <div class="form-group col-md-10">
                    <input type="text" class="form-control" name="mes" id="mes" placeholder="Write your message" required style="height: 200px;">
                </div>
            </div>
     
            <button type="submit" class="btn btn-primary float-right">Sign up</button>
        </form>
    </div>
</div>
</body>
</html>